

  <div class="flex justify-center text-5xl font-light text-center py-14"> <h1>This is the home page</h1></div>

<div class=" min-h-screen px-40 space-y-7 text-left"> 
   

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras accumsan nec ipsum eget tincidunt. Nam eget faucibus dolor. Nam sed sem maximus, ullamcorper magna sed, dapibus risus. Vivamus semper elit a mauris vehicula dictum. Maecenas in eros lacus. Nam venenatis magna in mauris efficitur condimentum. Morbi imperdiet dolor nec sem elementum faucibus. Etiam laoreet finibus elit. Etiam dignissim eros vel metus consequat accumsan. Quisque dapibus pharetra augue, a rutrum metus vestibulum eget. Phasellus finibus ultrices eros in consectetur. Nunc nulla urna, blandit vitae lacinia vel, posuere at felis.

</p>

<p>
    Sed ullamcorper vehicula dictum. Vivamus ac libero quis velit congue bibendum. Aliquam sem nibh, vulputate in enim vel, rhoncus facilisis odio. In tempus augue eu tortor efficitur, id porta nisl malesuada. Sed molestie diam sit amet mi fringilla, ac accumsan risus ornare. Nam ac lobortis ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam scelerisque, magna quis sollicitudin ornare, erat velit vestibulum est, eu faucibus est ipsum nec est. Quisque pretium vulputate risus, et tempus tellus malesuada ac. Nam et est lectus. Nulla facilisi. Maecenas ultrices, ex ac tempor aliquam, felis nisl suscipit purus, nec suscipit nisi leo nec nisi. Sed et mi sed eros fermentum pellentesque vel fermentum libero. Vivamus eu neque dui.
</p>


<p>
    Phasellus et leo interdum, fermentum odio vitae, condimentum tellus. Ut ut leo ante. Nullam vel erat sagittis, sollicitudin sapien nec, ornare lacus. Aliquam porta ultricies bibendum. Curabitur malesuada magna lorem, vel suscipit nibh bibendum non. Phasellus venenatis, elit in vulputate ultrices, dolor magna suscipit ante, non lobortis enim ligula vitae ex. Ut rutrum diam id lacus porta, sed gravida velit mattis. Praesent mattis iaculis gravida. Nunc quis molestie elit. Proin tellus arcu, iaculis vitae auctor sed, aliquam id sem. Quisque accumsan mi in rhoncus tempor. Curabitur aliquam augue a nisl dignissim efficitur in sit amet mi. In sollicitudin eu turpis accumsan mattis. Pellentesque posuere est maximus, condimentum justo iaculis, dignissim orci. Sed sit amet ipsum cursus, varius augue suscipit, consequat leo.
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nunc sem, vulputate consectetur malesuada sit amet, sollicitudin in dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent tincidunt enim sit amet velit eleifend eleifend. Quisque aliquam porttitor iaculis. Ut leo neque, scelerisque et interdum sed, volutpat at elit. Maecenas tempor imperdiet lorem, quis feugiat metus laoreet efficitur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut vitae ipsum mauris. Fusce cursus vulputate metus pulvinar porttitor. Aenean nec vehicula risus. Proin sed ligula magna. Duis leo diam, auctor eu porttitor id, finibus vel libero. Ut sodales vitae ligula eget finibus. Etiam laoreet, justo quis auctor suscipit, velit lacus tempor ex, in commodo massa massa in erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
</p>


<p>
    Vivamus condimentum, purus in convallis feugiat, ligula massa tincidunt est, nec aliquet lectus nibh sed magna. Maecenas semper dui non purus pretium sodales. In magna erat, auctor a ullamcorper non, imperdiet ut velit. Suspendisse rutrum lorem nibh, porta euismod eros hendrerit eu. Aenean lobortis a risus eu venenatis. Phasellus non erat orci. Curabitur a sollicitudin mi. Morbi efficitur ligula eu diam posuere interdum. Pellentesque rhoncus consequat consectetur. Sed quis egestas ex, sed varius enim. Etiam volutpat suscipit sapien, vitae convallis tellus condimentum vel. Quisque tempor egestas leo, a ultrices lorem suscipit vel. Praesent sagittis ullamcorper ultrices. Sed varius rutrum elit, eget aliquam nunc varius quis. Curabitur tincidunt arcu a risus fermentum faucibus.
</p>




</div>    