<div class=" bg-amber-700  min-h-screen w-[24vw] md:w-[14vw] overflow-auto space-y-6">


    <div class=" justify-end  hidden">
        <!-- remove hidden add flex -->
        <fa-icon [icon]="faHomeAlt"></fa-icon>
    </div>
    <div>

    </div>


    <div class="flex justify-center items-center text-3xl text-black pt-8">
        <a class=" text-center" routerLink="/cars/user">
            <fa-icon [icon]="faCar"></fa-icon> My cars
        </a>
    </div>

    <div class="flex justify-center items-center text-3xl text-black mt-4">
        <a class=" text-center" routerLink="/car/add">
            <fa-icon [icon]="faAdd"></fa-icon> Add Car
        </a>
    </div>


    <div class="flex justify-center items-center text-3xl text-black mt-4">
        <a class=" text-center" routerLink="/cars">
            <fa-icon [icon]="faCar"></fa-icon> All cars

        </a>
    </div>

    <div class="flex justify-center items-center text-3xl text-black mt-4">
        <a class=" text-center" routerLink="/events">
            <fa-icon [icon]="faEvents"></fa-icon> All events

        </a>
    </div>




</div>