<div class="flex  justify-center pt-14">

  <!-- flex-1 to take all the space of the container   TODO make a braking point and make it larger when goes bellow that   -->
  <div
    class="flex  flex-col text-white bg-gray-800 shadow-2xl shadow-amber-700 md:w-[30rem] w-[20rem] mr-3 ml-3 rounded-3xl">


    <div class="flex justify-center pt-5 text-5xl">
      <h1 class="">Reset password</h1>
    </div>

    <form #form="ngForm" (keydown.enter)="reset()" (submit)="reset()">

      <div class="flex flex-col m-10">

        <div class=" flex flex-col ">


          <div *ngIf="error " class="mb-3">
            <div class="  rounded-lg  text-red-500 ">
              <div [innerHTML]="error"></div>
            </div>
          </div>


          <div *ngIf="!isSend" class=" flex flex-col  ">

            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 mt-4" for="email">Your
              Email</label>
            <input #name="ngModel" [(ngModel)]="resetDTO.email"
                   class=" rounded-md  p-1 pl-3   {{isMailValid ? 'text-black'  : 'text-red-500 border-red-500' }} "
                   id="email"
                   name="email" placeholder="example@example.com" required type="email">
            <div class="flex justify-center p-8 ">
              <button (click)="reset()" class="bg-amber-600 w-28 rounded-lg text-2xl p-2" type="button">
                Submit
              </button>


            </div>

          </div>

          <div *ngIf="isSend" class=" flex ">

            <div class="flex justify-center pt-5 pb-10 text-5xl text-green-400">
              <h1 class=" text-center">Your will receive mail with instructions</h1>
            </div>


          </div>

        </div>

        <div class="divide-amber-400 divide-y pt-5 ">
          <div></div>
          <div></div>
        </div>


        <div class="flex justify-center items-center pt-10">
          <button (click)="logIn()">
            <div>Already have an account? <a class=" font-bold">Login now</a></div>
          </button>
        </div>


      </div>

    </form>


  </div>

</div>
