<div class="space-y-4 ml-[20vw] mr-[20vw] mt-[5vh] mb-[2vh]">
  <h1 class="text-2xl font-bold flex justify-center">{{projectName}} Terms of Service</h1>
  <h2 class="text-xl font-bold">Introduction</h2>
  <p>Welcome to {{projectName}} , a social media platform operated by {{companyName}}. These terms of service govern
    your use of our platform and services. By accessing or using our platform, you agree to be bound by these terms
    and our privacy policy.</p>

  <h2 class="text-xl font-bold pt-6">Privacy</h2>

  <p>We take your privacy seriously and comply with the General Data Protection Regulation (GDPR). Please refer to our
    <a class=" text-blue-600" href="/privacy-policy">privacy policy</a> for more information on how we collect, use,
    and protect your
    personal data.</p>

  <h2 class="text-xl font-bold  pt-6">Use of Our Platform</h2>
  <p>You may use our platform and services only for lawful purposes and in accordance with these terms. You agree not
    to use our platform to:</p>
  <ul class="list-disc pl-[3vw]">
    <li>violate any applicable law or regulation</li>
    <li>impersonate any person or entity</li>
    <li>engage in any activity that interferes with or disrupts our platform or services</li>
    <li>upload or transmit any content that is infringing, defamatory, obscene, or otherwise objectionable</li>
    <li>attempt to gain unauthorized access to our platform, user accounts, or computer systems</li>
    <li>use our platform to advertise or promote any products or services without our prior written consent</li>
  </ul>

  <h2 class="text-xl font-bold pt-6">Intellectual Property</h2>
  <p>The content and materials on our platform, including text, graphics, logos, and images, are owned by us or our
    licensors and are protected by intellectual property laws. You may not use, copy, or reproduce any of our
    content or materials without our prior written consent.</p>

  <h2 class="text-xl font-bold pt-6">Limitation of Liability</h2>
  <p>We are not liable for any damages or losses that may arise from your use of our platform or services. We are not
    responsible for any content uploaded or transmitted by user of our platform. We reserve the right to remove any
    content that violates these terms or our policies.</p>

  <h2 class="text-xl font-bold pt-6">Changes to These Terms</h2>
  <p>We may revise these terms of service at any time without notice. Your continued use of our platform after any
    changes to these terms will be deemed acceptance of those changes.</p>

  <h2 class="text-xl font-bold pt-6">Contact Us</h2>
  <p>If you have any questions or concerns about these terms of service or our platform, please contact us at
    support@nullchefo.com.</p>

</div>
