<h1 class="text-2xl font-bold flex justify-center">DISCLAIMERS</h1>


<!-- <h2 class="text-xl font-bold pt-6">THIS IS NOT {{projectActivities}} ADVICE</h2> -->
<p>The data, visualizations, and interpretations presented on {{projectName}} are not {{projectActivities}} advice in
  any way, shape, or form.</p>

<h2 class="text-xl font-bold pt-6">DATA SOURCE</h2>
<p>The insider trade data presented on {{projectName}} all comes from the {{companyName}} itself.
  Data is retrieved from the {{dataSources}}  API or RSS feed, then parsed and saved to our servers.
  We do not guarantee the quality or accuracy of any data presented.
  The data is susceptible to filing errors from SEC and while we have checks in place to ensure that many incorrect
  forms are filtered out,we cannot get all of them.
  We will be adding a report feature at a later date.
</p>

<h2 class="text-xl font-bold pt-6">WARRANTY</h2>
<p>The data provided by {{projectName}} is without warranty.
  As stated above we do not guarantee the quality or accuracy and you use the data at your own risk.
  We do however provide the link to the filling for all forms so you can check the data.</p>

<h2 class="text-xl font-bold pt-6">INTELLECTUAL PROPERTY</h2>
<p>{{projectName}} is owned and operated by {{companyName}}.
  All code, graphics, logos, and domains are the property of  {{companyName}}.
  The data on this site may not be scrapped, copied, or collected for commercial use.</p>

<h2 class="text-xl font-bold pt-6">BETA SOFTWARE</h2>
<p>{{projectName}} is a brand new product {{launchedDate}} and is still in very active development.
  New features are constantly being added and bugs are constantly being addressed.</p>

<h2 class="text-xl font-bold pt-6">DATA COLLECTION</h2>
<p>The only data collected on {{projectName}} is collected by {{analytics}} information about this can be found on their
  website.</p>
