<div class="flex  justify-center pt-14">

  <!-- flex-1 to take all the space of the container   TODO make a braking point and make it larger when goes bellow that   -->
  <div  class="flex  flex-col text-white bg-gray-800 shadow-2xl shadow-amber-700 md:w-[30rem] w-[20rem] mr-3 ml-3 rounded-3xl">


    <div class="flex justify-center pt-5 text-5xl">
      <h1 class="">Reset password</h1>
    </div>

    <form #form="ngForm" (submit)="reset()" (keydown.enter)="reset()">

      <div class="flex flex-col m-10">

        <div class=" flex flex-col ">


          <div *ngIf="error " class="mb-3">
            <div class="  rounded-lg  text-red-500 ">
              <div [innerHTML]="error"></div>
            </div>
          </div>


          <div class=" flex flex-col  " *ngIf="!isSend">

            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 mt-4">Your
              Email</label>
            <input type="email" name="email" id="email"
              class=" rounded-md  p-1 pl-3   {{isMailValid ? 'text-black'  : 'text-red-500 border-red-500' }} "
              placeholder="example@example.com" required [(ngModel)]="resetDTO.email" #name="ngModel">
            <div class="flex justify-center p-8 ">
              <button type="button" class="bg-amber-600 w-28 rounded-lg text-2xl p-2" (click)="reset()">Submit</button>


            </div>

          </div>

          <div class=" flex " *ngIf="isSend">

            <div class="flex justify-center pt-5 pb-10 text-5xl text-green-400">
              <h1 class=" text-center">Your will receive mail with instructions</h1>
            </div>



          </div>

        </div>

        <div class="divide-amber-400 divide-y pt-5 ">
          <div></div>
          <div></div>
        </div>


        <div class="flex justify-center items-center pt-10">
          <div>Already have an account? <a routerLink="/user/login" class=" font-bold">Login now</a></div>

        </div>





      </div>

    </form>



  </div>

</div>